@font-face {
    font-family: "noto-medium";
    src: url("./font/NotoSansKR-Medium.otf");
}

@font-face {
    font-family: "noto-regular";
    src: url("./font/NotoSansKR-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-collapse: collapse;
    list-style: none;
    font-family: "noto-regular";
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.wrap {
    margin: 0 auto;
    /* width: 1200px;
    height: 100%; */
}

.header-top {
    display: flex;
    margin: 0 auto;
    width: 1080px;
    /* border: 1px solid red; */
}

.header-top-back {
    background-color: #e7f8fe;
    width: 100%;
    min-width: 1080px;
    height: 116px;
}

.top-logo {
    cursor: pointer;
    width: 335px;
    height: 55px;
    margin-top: 25px;
}

.header-top-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 60px;
    margin-top: 25px;
}

.header-top-container>a {
    margin-right: 30px;
    font-size: 17px;
    cursor: pointer;
}

.search-input {
    width: 243px;
    height: 22px;
    border: 1px solid gray;
    border-radius: 50px;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    font-size: 14px;
    text-align: center;
}

.search-btn {
    margin-right: 10px;
    width: 19px;
    height: 19px;
    position: absolute;
    margin-left: 190px;
}

.navbar-wrap {
    width: 100%;
    min-width: 1080px;
    height: 40px;
    margin-top: -20px;
}

.navbar {
    display: flex;
    width: 1080px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    background-color: #3f54d1;
}

.navbar-intro,
.navbar-sd,
.navbar-sdgs,
.navbar-lib,
.navbar-notice,
.navbar-calendar {
    color: white;
    font-size: 18px;
    padding: 0px 55px;
    display: flex;
    align-items: center;
    font-weight: light;
    cursor: pointer;
    position: relative;
}

.intro-more {
    position: absolute;
    margin-top: 755px;
    margin-left: -70px;
    display: none;
}

.sd-more {
    position: absolute;
    margin-top: 260px;
    margin-left: -70px;
    display: none;
}

.lib-more {
    position: absolute;
    margin-top: 295px;
    margin-left: -70px;
    display: none;
}

.sdgs-more {
    position: absolute;
    margin-top: 475px;
    margin-left: -70px;
    display: none;
}

.commu-more {
    position: absolute;
    margin-top: 195px;
    margin-left: -70px;
    display: none;
}

.navbar-intro:hover>.intro-more {
    display: block;
}

.navbar-sd:hover>.sd-more {
    display: block;
}

.navbar-sdgs:hover>.sdgs-more {
    display: block;
}

.navbar-lib:hover>.lib-more {
    display: block;
}

.navbar-notice:hover>.commu-more {
    display: block;
}

/* .navbar > div {
    color: white;
    font-size: 20px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
} */

/* .navbar>div:nth-child(1) {
    margin-left: 30px;
    navbar 첫 번째 칸 왼쪽에서 얼마나 떨어져있는지
} */

.navbar-plus {
    position: absolute;
    margin-top: 5px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.more-div {
    /* width: 210px;
    height: 680px; */
    padding: 10px 15px;
    border: 1px solid #3f54d1;
    margin-left: 30px;
    background-color: white;
    position: relative;
    z-index: 2;
}

.more-div>a {
    display: flex;
    width: 210px;
    height: 27px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}

.more-point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #3f54d1;
    margin-right: 8px;
}

.more-text {
    font-size: 16px;
}

.more-text-1 {
    font-size: 15px;
    margin-left: 20px;
    /* font-weight: normal; */
}

.more-text-2 {
    font-size: 15px;
    margin-left: 30px;
    /* font-weight: normal; */
}

.under-link-wrap {
    width: 100%;
    min-width: 1080px;
}

.under-link {
    width: 1080px;
    height: 60px;
    display: flex;
    margin: 0 auto;
}

.footer-wrap {
    width: 100%;
    min-width: 1080px;
    background-color: #e8e6e6;
}

.footer {
    width: 1080px;
    height: 60px;
    margin: 0 auto;
    display: flex;
}

.vertical-line {
    width: 2px;
    height: 14px;
    background-color: #75777B;
    margin: 0 10px 0 10px;
}

.underbar-bold {
    font-weight: bold;
    color: black;
    margin-right: 5px;
}

.underbar>p {
    text-align: center;
}

.horizon-line {
    width: 240px;
    background-color: #595757;
    height: 1px;
}

.side-menu>* {
    margin-bottom: 20px;
}

.button {
    width: 1080px;
    cursor: pointer;
}

.main {
    /* display: flex; */
    width: 1080px;
    margin: 0 auto;
    margin-top: 38px;
    /* border: 2px solid red; */
}

.emp {
    width: 20px;
    height: 5px;
}


.write-content-box {
    width: 500px;
    height: 500px;
}

.write-whole {
    margin-top: 30px !important;
    width: 500px;
    margin: auto;
}

.write-select {
    width: 500px;
}

.write-write-button {
    width: 100px;
    height: 30px;
}

.write-title-box {
    width: 500px;
    height: 30px;
}

.news-list-div {
    margin: 0 auto;
    width: 700px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #777777;
    position: relative;
}

.news-list-wrap {
    width: 1080px;
    margin: 10px auto;
}

.news-list-wrap>h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.news-list-div>p {
    position: absolute;
    right: 0;
}

.news-list-div>a {
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px;
}

.news-list-wrap>h1>button {
    position: absolute;
    margin-top: 30px;
    margin-left: 240px;
    width: 60px;
    height: 35px;
    font-size: 15px;
}

.view-news-head {
    text-align: center;
    font-size: 50px;
    width: 1080px;
    margin: 20px auto 0;
}

.go-to-news-list-btn {
    width: 70px;
    height: 30px;
    font-size: 17px;
    /* margin-left: 150px; */

}

.view-news-body {
    width: 1080px;
    margin: 10px auto;
    border-top: 1px solid black;
    text-align: center;
    padding-bottom: 50px;
}

.view-news-body>h2 {
    /* display: inline-block; */
    margin-top: 20px;
    font-size: 30px;
}

.view-news-body>img {
    width: 700px;
    margin-top: 30px;
}

.view-news-body>p {
    margin-top: 30px;
    font-size: 20px;
}

.view-news-info {
    width: 1080px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.view-news-info>p {
    margin-right: 20px;
}

.news-card {
    width: 340px;
    height: 340px;
    border: 2px solid gray;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.news-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.2s ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.news-card:hover::before {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.news-card-img {
    width: 340px;
    height: 200px;
    border-bottom: 2px solid gray;
}

.news-card-text {
    width: 340px;
    height: 140px;

}

.news-card-headline {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.news-card-content {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-line;
}


.swiper {
    width: 710px;
    height: 380px;
}

.main-line1 {
    display: flex;
}

.main-notice {
    width: 340px;
    height: 340px;
    border: 2px solid gray;
    margin-left: 22.5px;
    cursor: pointer;
}

.main-line2>img {
    width: 344px;
    height: 344px;
    cursor: pointer;
}

.main-monitoring,
.main-map {
    margin-right: 22.5px;
}

@media (max-width: 768px) {
    
}