@font-face {
    font-family: "regular";
    font-style: normal;
    src: url(./font/NanumSquareNeo.woff2) format('woff2'),
    url(./font/NanumSquareNeo.woff) format('woff'),
    url(./font/NanumSquareNeo.eot),
    url(./font/NanumSquareNeo.ttf);
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-collapse: collapse;
    list-style: none;
    font-family: "regular";
}



a:link {
    color: black;
}

a:visited {
    color: black;
}

.wrap {
    margin: 0 auto;
    /* width: 1200px;
    height: 100%; */
}

.header-top {
    display: flex;
    margin: 0 auto;
    width: 1400px;
    /* border: 1px solid red; */
}

.header-top-back {
    background-color: #e7f8fe;
    width: 100%;
    min-width: 1400px;
    height: 116px;
}

.top-logo {
    cursor: pointer;
    width: 335px;
    height: 55px;
    margin-top: 25px;
}

.header-top-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 60px;
    margin-top: 25px;
}

.header-top-container>a {
    margin-right: 30px;
    font-size: 17px;
    cursor: pointer;
}

.search-input {
    width: 243px;
    height: 22px;
    border: 1px solid gray;
    border-radius: 50px;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    font-size: 14px;
    text-align: center;
}

.search-btn {
    margin-right: 10px;
    width: 19px;
    height: 19px;
    position: absolute;
    margin-left: 190px;
}

.navbar-wrap {
    width: 100%;
    min-width: 1400px;
    height: 40px;
    margin-top: -20px;
}

.navbar {
    display: flex;
    width: 1400px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    background-color: #3f54d1;
}

.navbar-intro,
.navbar-sd,
.navbar-sdgs,
.navbar-lib,
.navbar-notice,
.navbar-calendar {
    color: white;
    font-size: 18px;
    padding: 0px 55px;
    display: flex;
    align-items: center;
    font-weight: light;
    cursor: pointer;
    position: relative;
}

.intro-more {
    position: absolute;
    margin-top: 755px;
    margin-left: -70px;
    display: none;
}

.sd-more {
    position: absolute;
    margin-top: 260px;
    margin-left: -70px;
    display: none;
}

.lib-more {
    position: absolute;
    margin-top: 295px;
    margin-left: -70px;
    display: none;
}

.sdgs-more {
    position: absolute;
    margin-top: 475px;
    margin-left: -70px;
    display: none;
}

.commu-more {
    position: absolute;
    margin-top: 195px;
    margin-left: -70px;
    display: none;
}

.navbar-intro:hover>.intro-more {
    display: block;
}

.navbar-sd:hover>.sd-more {
    display: block;
}

.navbar-sdgs:hover>.sdgs-more {
    display: block;
}

.navbar-lib:hover>.lib-more {
    display: block;
}

.navbar-notice:hover>.commu-more {
    display: block;
}

/* .navbar > div {
    color: white;
    font-size: 20px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
} */

/* .navbar>div:nth-child(1) {
    margin-left: 30px;
    navbar 첫 번째 칸 왼쪽에서 얼마나 떨어져있는지
} */

.navbar-plus {
    position: absolute;
    margin-top: 5px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.more-div {
    /* width: 210px;
    height: 680px; */
    padding: 10px 15px;
    border: 1px solid #3f54d1;
    margin-left: 30px;
    background-color: white;
    position: relative;
    z-index: 3;
}

.more-div>a {
    display: flex;
    width: 210px;
    height: 27px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}

.more-point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #3f54d1;
    margin-right: 8px;
}

.more-text {
    font-size: 16px;
}

.more-text-1 {
    font-size: 15px;
    margin-left: 20px;
    /* font-weight: normal; */
}

.more-text-2 {
    font-size: 15px;
    margin-left: 30px;
    /* font-weight: normal; */
}

.under-link-wrap {
    width: 100%;
    min-width: 1400px;
}

.under-link {
    width: 1400px;
    height: 60px;
    display: flex;
    margin: 0 auto;
}

.footer-wrap {
    width: 100%;
    min-width: 1400px;
    background-color: #e8e6e6;
}

.footer {
    width: 1400px;
    height: 60px;
    margin: 0 auto;
    display: flex;
}

.vertical-line {
    width: 2px;
    height: 14px;
    background-color: #75777B;
    margin: 0 10px 0 10px;
}

.underbar-bold {
    font-weight: bold;
    color: black;
    margin-right: 5px;
}

.underbar>p {
    text-align: center;
}

.horizon-line {
    width: 240px;
    background-color: #595757;
    height: 1px;
}

.side-menu>* {
    margin-bottom: 20px;
}

.button {
    width: 1400px;
    cursor: pointer;
}

.main {
    /* display: flex; */
    width: 1400px;
    margin: 0 auto;
    margin-top: 38px;
    /* border: 2px solid red; */
}

.emp {
    width: 20px;
    height: 5px;
}


.write-content-box {
    width: 500px;
    height: 500px;
}

.write-whole {
    margin-top: 30px !important;
    width: 500px;
    margin: auto;
}

.write-select {
    width: 500px;
}

.write-write-button {
    width: 100px;
    height: 30px;
}

.write-title-box {
    width: 500px;
    height: 30px;
}

.news-list-div {
    margin: 0 auto;
    width: 700px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #777777;
    position: relative;
}

.news-list-wrap {
    width: 1400px;
    margin: 10px auto;
}

.news-list-wrap>h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.news-list-div>p {
    position: absolute;
    right: 0;
}

.news-list-div>a {
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px;
}

.news-list-wrap>h1>button {
    position: absolute;
    margin-top: 30px;
    margin-left: 240px;
    width: 60px;
    height: 35px;
    font-size: 15px;
}

.view-news-head {
    text-align: center;
    font-size: 50px;
    width: 1400px;
    margin: 20px auto 0;
}

.go-to-news-list-btn {
    width: 70px;
    height: 30px;
    font-size: 17px;
    /* margin-left: 150px; */

}

.view-news-body {
    width: 1400px;
    margin: 10px auto;
    border-top: 1px solid black;
    text-align: center;
    padding-bottom: 50px;
}

.view-news-body>h2 {
    /* display: inline-block; */
    margin-top: 20px;
    font-size: 30px;
}

.view-news-body>img {
    width: 700px;
    margin-top: 30px;
}

.view-news-body>p {
    margin-top: 30px;
    font-size: 20px;
}

.view-news-info {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.view-news-info>p {
    margin-right: 20px;
}

.news-card {
    width: 340px;
    height: 340px;
    border: 2px solid gray;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.news-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.2s ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.news-card:hover::before {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.news-card-img {
    width: 340px;
    height: 200px;
    border-bottom: 2px solid gray;
}

.news-card-text {
    width: 340px;
    height: 140px;

}

.news-card-headline {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.news-card-content {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-line;
}


.swiper {
    width: 710px;
    height: 380px;
}

.main-line1 {
    display: flex;
}

.main-notice {
    width: 340px;
    height: 340px;
    border: 2px solid gray;
    margin-left: 22.5px;
    cursor: pointer;
}
.main-line2>img {
    width: 344px;
    height: 344px;
    cursor: pointer;
}
.main-monitoring,
.main-map {
    margin-right: 22.5px;
}
.mobile {
    display: none;
}
.map {
    width: 1400px;
    height: 1060px;
    margin: 50px auto;
}
.login-form {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.warning-box {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.warning-btn {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.arrow-wrap {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    margin-left: 15px;
}
.arrow1 {
    display: flex;
}
.arrow-1 {
    width: 204px;
    height: 60px;
    background-color: #c8cacc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
}
.arrow-2 {
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #c8cacc;
    z-index: 10;
}
.arrow-3 {
    position: relative;
    left: 0;
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid white;
    margin-left: -5px;
    /* margin-top: -30px; */
    z-index: 1;
}

/* .map {
    position: relative;
    z-index: 0;
} */
.map-btnbar {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
.map-btn1 {
    width: 411px;
    height: 40px;
    background-color: #053854;
    color: white;
    z-index: 2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 3px 3px  5px gray;
}

.map-btn2 {
    width: 230px;
    height: 40px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 3px 3px  5px gray;
    /* text-indent: center; */
}
.map-btn2:focus {
    outline: none;
}
.map-btn2::placeholder {
    text-align: center;
    font-size: 14px;
}
.map-btn3 {
    width: 80px;
    height: 40px;
    background-color: white;
    z-index: 2;
    margin-left: 10px;
    box-shadow: 3px 3px  5px gray;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.map-btn3 span {
    background-image: linear-gradient(to right, red, orange, green, skyblue, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 22px;
    font-weight: bold;
    -webkit-text-stroke: 1px transparent;
    
}
.map-btn4 {
    z-index: 2;
    width: 210px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 3px 3px  5px gray;
    display: flex;
    justify-content: center;
    align-items: center;

}
.map-btn4-1 {
    z-index: 2;
    width: 70px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-left: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.map-btn4-gray {
    margin-left: 7px;
    margin-right: 7px;
    color: gray;
}

.map-modal1 {
    position: absolute;
    width: 120px;
    height: 550px;
    background-color: white;
    z-index: 2;
    margin-left: 670px;
    margin-top: 10px;
    box-shadow: 3px 3px  5px gray;
}
.map-modal2 {
    position: absolute;
    width: 414px;
    height: 668px;
    background-color: white;
    z-index: 2;
    margin-left: 10px;
    margin-top: 330px;
    box-shadow: 3px 3px  5px gray;
}
.map-modal2-close {
    width: 15px;
    height: 50px;
    background-color: white;
    z-index: 2;
    margin-left: 414px;
    margin-top: 309px;
    border: none;
    box-shadow: 3px 3px  5px gray;
    border-radius: 5px;
}
.map-modal2-cancel {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: white;
    z-index: 2;
    border: none;
    box-shadow: 3px 3px  5px gray;
    border-radius: 5px;
    margin-top: 900px;
    margin-left: 10px;
}





.t-session-wrap {
    width: 800px;
    height: 300px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
}





/* @media (max-width: 768px) {
    .wrap {
        display: none;
    }
    .mobile {
        display: block;
        width: 100%;
    }
} */